<nz-layout class="layout">
  <nz-header>
    <img class="logo" src="assets/_logo.png" alt="logo" routerLink="/">
    <ul nz-menu nzTheme="light" nzMode="horizontal">
      <li nz-menu-item routerLink="/">Reservas</li>
      <!--<li nz-menu-item routerLink="/clases">Clases</li>-->
      <li nz-menu-item routerLink="/aulas">Aulas</li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>

    <div class="inner-content">
      <router-outlet>
      </router-outlet>
    </div>
  </nz-content>
  <nz-footer></nz-footer>
</nz-layout>
